*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,Helvetica,sans-serif;

}

body{

background:#f4f7fc;

}

.left-panel{

background:linear-gradient(135deg,#2563EB,#1E3A8A);

color:white;

display:flex;

justify-content:center;

align-items:center;

padding:60px;

}

.left-panel h1{

font-size:52px;

font-weight:bold;

margin-bottom:20px;

}

.subtitle{

font-size:24px;

margin-bottom:40px;

}

.features p{

font-size:20px;

margin-bottom:15px;

}

.right-panel{

display:flex;

justify-content:center;

align-items:center;

background:#f4f7fc;

}

.login-card{

background:white;

padding:45px;

width:430px;

border-radius:18px;

box-shadow:0px 10px 35px rgba(0,0,0,.15);

}

.login-card h2{

text-align:center;

color:#1E3A8A;

font-weight:bold;

margin-bottom:10px;

}

.login-card p{

text-align:center;

color:gray;

margin-bottom:30px;

}

.form-control,
.form-select {
    pointer-events: auto;
    user-select: text;
}

.btn-primary{

background:#2563EB;

border:none;

height:48px;

border-radius:12px;

font-size:18px;

font-weight:bold;

transition:.3s;

}

.btn-primary:hover{

background:#1E40AF;

transform:translateY(-2px);

}

a{

text-decoration:none;

font-weight:bold;

}

a:hover{

text-decoration:underline;

}